

.sobre{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    color: white;
    background-image: linear-gradient(to top right, #261c42,#261c42,#261c42,#261c42, #e95f67 90%);
}

.sobre h1{
    font-size: 50px;
}

.sobre img{
    height: 500px;
    width: 700px;
    margin-top: 50px;
    border-radius: 100%;
    margin-bottom: 50px;
}

.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
    gap: 17px;
    margin-bottom: 20px;

}

.textos h1{
    align-items: center;
    font-size: 29px;
}

.banner{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

/* .container{
    background-color: #8f8f8f52;
    margin: 110px;
    margin-top: 70px;
    border-radius: 10px;
} */