@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
  
}

header .navbar {
    background-image: linear-gradient(to bottom, #2f2350, #e95f66b5);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

body{
    background: url(../assets/imags/tardiswall.png);
    background-position: center;
    background-size: contain;
}

.logo img {
    width: 220px;
    height: 90px;
    margin-left: 40px;
}


header ul {
    list-style: none;
    display: flex;
    margin-left: 20pxs;
}

header ul li {
    color: white;
    font-size: 24px;
    margin-right: 20px;
}

header p {
    color: white;
    margin-right: 30px;
    margin-left: 30px;
}


main {
    width: 100%;
    height: 680px;
    background-position: center;
}

.login {

    padding-top: 70px;
    padding-left: 220px;
    padding-right: 220px;

}

.cards {
    display: flex;
    color: rgb(255, 255, 255);
    height: 500px;
    justify-content: space-around;
    margin-top: 35px;
}

/* .cardum {
    background-color:  #e95f663f;
    width:400px ;
    padding: 50px;
    background-image: url(assets/imags/com-gif-maker-unscreen.gif);
    margin-left: 100px;
    
} */

.cardum img{

width: 100%;
height: 100%;
}

.carddois {
    height: 100%;
    color: black;
    background-image: linear-gradient(to top left, rgba(38, 28, 66, 0.752), #e95f66b7 96%);
    width: 500px;
    margin-right: 200px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 8px;
    border-radius: 50px;
}

.carddois input{
    height: 50px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border-bottom:  2px white solid;
    text-align: center;
    font-size: 17px;
}


.carddois input:hover{
    background-color: rgb(186, 185, 209)
}

.doctor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(38, 28, 66, 0.752);
   padding: 20px;
   text-align: center;
   margin-left: 100px;
   border-radius: 50px;
}

.doctor img{
   height: 230px;
}

.doctor p{
    font-size: 17px;
    
}

.carddois button{
    height: 40px;
    color: black;
    font-weight: bolder;
}

.carddois button:hover{
    background-color: #564e6c;
}

.carddoiss {
    height: 100%;
    color: black;
    background-image: linear-gradient(to top left, rgba(38, 28, 66, 0.752), #e95f66b7 96%);
    width: 500px;
    margin-right: 200px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 8px;
    border-radius: 50px;
}

.carddoiss input{
    height: 40px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border-bottom:  2px white solid;
    text-align: center;
    font-size: 17px;
}

.carddoiss button{
    height: 40px;
    color: black;
    font-weight: bolder;
}


.carddoiss button:hover{
    background-color: #564e6c;
}

.carddoiss input:hover{
    background-color: rgb(186, 185, 209)
}